.intro {
  background-image: url("../img/hlegal-main.svg");
  background-repeat: no-repeat;
  background-position: 50% 0%;
  position: relative;
  min-height: 100vh;
  padding: 150px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  //
  &__head {
    font-size: 38px;
    font-weight: 700;
    color: $link-color;
    text-align: center;
    max-width: 50%;
  }
    &__anchor {
      width: 42px;
      height: 42px;
      border: 2px solid $link-color;
      position: absolute;
      border-radius: 50%;
      top: 90%;
      left: 45%;
       

      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 52%;
        left: 60%;
        width: 14px;
        height: 2px;
        background-color: $link-color;
      }

      &::before {
        transform: translate(-50%, -50%) rotate(130deg);
      }

      &::after {
        transform: translate(-112%, -50%) rotate(47deg);
      }
      &:hover {
        border-color: $accent-color;
        &::after,
        &::before{
          background-color: $accent-color;
        }
    
      }
    }
}

.e-commerce__container {
  position: relative;
  min-height: 100vh;
  padding: 200px 15px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media (min-width:768px) {
    padding: 300px 15px 0;
  }
  .e-commerce__img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 92px;
    height: 92px;
    background-color: $link-color;
    border-radius: 24px;

  }
  .e-commerce__head {
    font-size: 30px;
    font-weight: 700;
    background: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
    background-clip: text;
    color: transparent;
    text-align: center;
    padding: 30px 0;
    @media (min-width: 768px) {
      font-size: 38px;
    }
  }
  .e-commerce__text {
    font-family: $base-ff;
    font-size: 19px;
    color: $link-color;
    line-height: 1.6;
    text-align: center;
    padding-bottom: 10px;
  }
  .e-commerce__button {
    background-color: $active-regular-color;
    padding: 18px 30px;
    border-radius: 12px;
    margin: 30px 0 60px 0; 
    .e-commerce__link {
      color: $link-color;
      font-size: $base-fz;
      font-weight: 700;
    }
  }
}
