.partners{
  max-height: 720px;
  overflow-y: auto;
  @media (min-width:768px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  @media (min-width:1024px) {
    grid-template-columns: repeat(4,1fr);
  } 

  &__item{
    height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  .partners__link{
    padding: 30px;
  }
}
}