.publications__section {
  background: $bg-lang-switch;
  &::after {
    content: " ";
    display: block;
    width: 100%;
    height: 2px;
    background-color: $burger-bg-active;  
    margin-top: 30px;
  }
  .publications__header {
    display: flex;
    flex-direction: column;
    &-link {
      font-size: 14px;
      font-weight: 700;
      color: $active-regular-color;
      padding-top: 30px;
      text-transform: uppercase;
      &::after {
        content: ">";
        padding-left: 3px;
        padding-top: 4px;
        font-size: 14px;
      }
    }
    &-head {
      font-size: 30px;
      font-weight: 700;
      background: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
      background-clip: text;
      color: transparent;
      padding: 15px 0;
      @media (min-width: 768px) {
        font-size: 38px;
      }
    }
  }
  .publications__list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    @media (min-width: 768px) {
      flex-direction: row;
      flex-wrap: wrap;
    }
    @media (min-width: 1024px) {
      flex-wrap: nowrap;
    }
    .publications__item {
      display: flex;
      flex-direction: column;
      background-color: $link-color;
      border-radius: 12px;
      &-img {
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
      }
      @media (min-width: 768px) {
        width: calc(50% - 15px);
        flex-grow: 1;
        & img {
          width: 100%;
          height: 200px;
          object-fit: cover;
        }
      }

      &-link {
        font-size: $base-fz;
        font-weight: 700;
        padding: 30px 30px 15px 30px;
      }
      &-date {
        text-transform: uppercase;
        font-size: 12px;
        color: $text-lang-switch;
        font-weight: 700;
        padding: 0 30px;
      }
      &-text {
        font-size: 14px;
        color: $second-color;
        line-height: 1.6;
        padding: 15px 30px 30px 30px;
        &::before {
          content: " ";
          display: block;
          width: 100%;
          height: 4px;
          background-color: $burger-bg-active;
          margin-bottom: 10px;
        }
      }
    }
  }

}
  .recommended{
    margin-top: 60px;
  }