.categories__service {
  @media (min-width: 375px) {
    padding: 15px;
  }
  @media (min-width: 768px) {
    padding: 30px 0;
  }
}
.service__link {
  position: relative;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  &::after,
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 120%;
    width: 8px;
    height: 2px;
    background-color: $active-regular-color;
  }
  &::before {
    transform: translate(-85%, -155%) rotate(50deg);
  }

  &::after {
    transform: translate(-90%, 100%) rotate(317deg);
  }
  &:hover {
    &::after,
    &::before {
      background-color: $accent-color;
    }
  }
}
.service__title {
  margin-top: 10px;
  font-size: 30px;
  font-weight: 700;
  background: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  @media (min-width: 768px) {
    font-size: 38px;
  }
}
.categories__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  grid-column-gap: 60px;
  grid-row-gap: 60px;
  justify-items: center;
  align-items: start;
  @media (min-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}
.categories__item {
  display: flex;
  flex-direction: column;
}
.categories__info {
  font-family: $base-ff;
  font-size: $base-fz;
  color: $link-color;
  line-height: 1.7;
}
.categories__link {
  font-size: 22px;
  color: $active-regular-color;
  font-weight: 700;
  padding: 15px 40px 15px 0;
  margin-bottom: 10px;
}
.categories__img {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $link-color;
  width: 94px;
  height: 94px;
  border-radius: 15px;
  margin-bottom: 30px;
}
